.Rproj.user
.Rhistory
.RData
.Ruserdata
raw_data/barton_preprocessed
raw_data/rse_gene_lung.Rdata
references/
old_resources/
old_manuscript_versions/
doc/supplemental_materials_2024*.*
doc/ici_kt_manuscript_2024*.*
*.docx#
renv
!renv/activate.R
actual_package
*.rds
*.rda
data/kegg_compounds/
exchange_data
inverse_icikt
!data/*.rds
!data/*.rda
